<html>
<body>
<h1>
{{title}} {{character.name}}
</h1>
<ul>
<li>You own {{character.money}} royals.</li>
{% if fame%}
<li>Your fame has reached level {{fame}}</li>
{%endif%}
<li>You have {{character.current_health}} health from a maximum of {{character.max_health}}
{%for skill in skills %}
<li>{{skill.stat.name}} is level {{skill.value}}</li>
{%endfor%}
{%for esteem in esteem %}
<li>{{esteem.stat.name}} regard you at level {{esteem.value}}</li>
{%endfor%}
{%for item in items %}
<li>{{item.quantity}} {{item.item.name}}</li>
{% endfor %}
{% if character.sword %}
<p>Your scabbard holds a {{character.sword.name}}</p>
{% endif%}
{% if swords %}
<p>You can place any of the following swords in your scabbard.</p>
{% for sword in swords %}
<li><a href="/lok/equip/sword/{{sword.item.id}}">{{sword.item.name}}</a></li>
{% endfor %}
{% endif %}
{% if character.bashing %}
<p>Your belt loop holds a {{character.bashing.name}}</p>
{% endif%}
{% if bashing %}
<p>You can hang any of the following weapons in your beltloop.</p>
{% for bash in bashing %}
<li><a href="/lok/equip/bashing/{{bashing.item.id}}">{{bashing.item.name}}</a></li>
{% endfor %}
{% endif %}
{% if character.bow%}
<p>You are carrying a {{character.bow.name}} across your back.</p>
{% endif%}
{% if bows %}
<p>You can sling one of these bows across your back.</p>
{% for bow in bows %}
<li><a href="/lok/equip/bow/{{bow.item.id}}">{{bow.item.name}}</a></li>
{% endfor %}
{% endif %}
{% if character.feet%}
<p>You are wearing a pair of {{character.bow.name}}.</p>
{% endif%}
{% if feet %}
<p>You can wear a pair of the following on your feet.</p>
{% for foot in feet %}
<li><a href="/lok/equip/feet/{{foot.item.id}}">{{foot.item.name}}</a></li>
{% endfor %}
{% endif %}
{% if character.cloak%}
<p>You are wearing a {{character.cloak.name}} on your back.</p>
{% endif%}
{% if cloaks %}
<p>You can wear one of the following cloaks.</p>
{% for cloak in cloaks %}
<li><a href="/lok/equip/cloak/{{cloak.item.id}}">{{cloak.item.name}}</a></li>
{% endfor %}
{% endif %}
{% if character.clothes%}
<p>You are wearing {{character.clothes.name}}.</p>
{% endif%}
{% if clothes %}
<p>You can wear one of the following sets of clothing.</p>
{% for clothing in clothes%}
<li><a href="/lok/equip/clothing/{{clothing.item.id}}">{{clothing.item.name}}</a></li>
{% endfor %}
{% endif %}
{% if character.gloves%}
<p>You are wearing a pair of {{character.gloves.name}}.</p>
{% endif%}
{% if gloves %}
<p>You can wear one of these pairs on your hands.</p>
{% for glove in gloves %}
<li><a href="/lok/equip/gloves/{{glove.item.id}}">{{glove.item.name}}</a></li>
{% endfor %}
{% endif %}
{% if character.ring%}
<p>You are wearing a ring {{character.ring.name}}.</p>
{% endif%}
{% if rings %}
<p>You can feature one of these rings on your right ring finger.</p>
{% for ring in rings %}
<li><a href="/lok/equip/ring/{{ring.item.id}}">{{ring.item.name}}</a></li>
{% endfor %}
{% endif %}
{% if character.neck%}
<p>You are wearing {{character.neck.name}} around your neck.</p>
{% endif%}
{% if neck %}
<p>You can wear one of the following items around your neck.</p>
{% for necklace in neck %}
<li><a href="/lok/equip/neck/{{necklace.item.id}}">{{necklace.item.name}}</a></li>
{% endfor %}
{% endif %}
{% if character.armor%}
<p>You are wearing {{character.armor.name}}.</p>
{% endif%}
{% if armors %}
<p>You can wear one of these sets of armor as an outer layer.</p>
{% for armor in armors %}
<li><a href="/lok/equip/armor/{{armor.item.id}}">{{armor.item.name}}</a></li>
{% endfor %}
{% endif %}
{% if plots %}
<p>You are involved in the following tales.</p>
{%for plot in plots %}
<li>{{plot.plot.description}}</li>
{% endfor  %}
{% endif %}
{% if achievements %}
<p>You have become famous for the following deeds.</p>
{% for achievement in achievements %}
<li>{{achievement.plot.description}}</li>
{% endfor %}
{% endif %}
</ul>
</body>
</html>
