<html>
<body>
<h1>
{{title}} {{character.name}}
</h1>
<ul>
<li>You own {{character.money}} royals.</li>
{% if fame%}
<li>Your fame has reached level {{fame}}</li>
{%endif%}
<li>You have {{character.current_health}} health from a maximum of {{character.max_health}}
{%for skill in skills %}
<li>{{skill.stat.name}} is level {{skill.value}}</li>
{%endfor%}
{%for esteem in esteem %}
<li>{{esteem.stat.name}} regard you at level {{esteem.value}}</li>
{%endfor%}
{%for item in items %}
<li>{{item.quantity}} {{item.item.name}}</li>
{% endfor %}
{% if plots %}
<p>You are involved in the following tales.</p>
{%for plot in plots %}
<li>{{plot.plot.description}}</li>
{% endfor  %}
{% endif %}
{% if achievements %}
<p>You have become famous for the following deeds.</p>
{% for achievement in achievements %}
<li>{{achievement.plot.description}}</li>
{% endfor %}
{% endif %}
</ul>
</body>
</html>
