{% extends "lok/base.html" %}
{% autoescape off %}
{% load lok_extras %}
{% block title%}Contact Us{% endblock %}
{% block heading%}Contact Us{%endblock %}
{% block menu_contact%}#404040;{% endblock %}
{% block intro %}
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
{% endblock intro %}

{% block content %}
    <form action="" method="post">
	{% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input class="button" type="submit" value="Submit">
    </form>
{% endblock content %}
{% endautoescape %}
