<html>
<body>
<h1>Who Are You?</h1>
<p>Please tell us a little about yourself...</p>
{% if error %}
<p>{{error}}</p>
{% endif %}
<form method="post" action=".">
{% csrf_token %}
	<input type="text" name="name" /> <br/>
	<label for="male">
	<input type="radio" id="male" name="gender" value="2" /> Male<br />
	</label>
	<label for="female">
	<input type="radio" id="female" name="gender" value="1" checked="checked" /> Female<br />
	</label>
	<input type="submit" value="Be Born"/> 
</form>
</body>
</html>
