{% extends "lok/base.html" %}
{% load lok_extras %}
{% block title%}Skal{% endblock %}
{% block heading%}Almost Dead!{%endblock %}
{% block menu_story%}#404040;{% endblock %}
{% block intro %}
<p>The accumulation of injuries have had their toll, and you fall into unconsciousness. You might well have died, but some kind soul found your body and brought you to the Mercy Home. May your recovery be swift and as free from pain as possible.</p>
{% endblock intro %}

{% block content %}
<p>To leave the Mercy Home, focus on healing until you reach full health. To avoid future visits to Mercy, avoid taking dangerous risks, and look for opportunities to heal yourself while adventuring.</p>
<p><a href="/lok/story/">Get well!</a></p>
{% endblock content %}
