{% extends "lok/base.html" %}
{% autoescape off %}
{% load lok_extras %}
{% block title%}Skal{% endblock %}
{% block heading%}{{character.location.name|capfirst}}'s Market{%endblock %}
{% block menu_market%}#404040;{% endblock %}
{% block intro %}
<p>You have {{royals}} royal{{royals|pluralize}} to spend.</p>
{% endblock %}

{% block content %}
{% if not sellable_items and not buyable_items %}
<p>No items are currently available to buy or to sell in this location. Please check back after you travel to another location or gain some items to sell.</p>
{% endif %}
{% if buyable_items %}
<h2>Would you like to buy any of these?</h2>
<ul>
{% for item in buyable_items %}
<li>{{item.name|capfirst}}: {{item.price}} royals. 
{% if item.quantity > 0 %}
(You have {{item.quantity}})
{% endif %}
{% for stat in item.stats %}
(+{{stat.amount}} {{stat.stat.name}})
{% endfor %}
<form method="post" action="/lok/buy/{{item.id}}/1/">
{% csrf_token %}
	<input class="button" type="submit" value="Buy one"/> 
</form>
</li>
{% endfor %}
</ul>
{% endif %}
{% if sellable_items %}
<h2>Would you like to sell any of these?</h2>
<ul>
{% for item in sellable_items %}
<li>{{item.name|capfirst}}: {{item.price}} royals. (You have {{item.quantity}})
{% for stat in item.stats %}
(+{{stat.amount}} {{stat.stat.name}})
{% endfor %}
<span class="spanFormat">
<form method="post" action="/lok/sell/{{item.id}}/1/">
{% csrf_token %}
	<input class="button" type="submit" name="sell_one" value="Sell one"/> 
</form>
</span>
{% if item.quantity > 1 %}
<span class="spanFormat">
<form method="post" action="/lok/sell/{{item.id}}/all/">
{% csrf_token %}
	<input class="button" type="submit" name="sell_all" value="Sell all"/> 
</form>
</span>
{% endif %}
</li>
{% endfor %}
</ul>
{% endif %}
{% endblock content %}
{% endautoescape %}
