{% extends "lok/base.html" %}
{% autoescape off %}
{% load lok_extras %}
{% block title%}Skal{% endblock %}
{% block heading%}{{scenario.title|macro:character}}{%endblock %}
{% block menu_story%}#404040;{% endblock %}
{% block intro %}
{% if scenario.portrait %}
<p align="center"><img src="{{scenario.portrait.scaled.url}}" /></p>
{% endif %}
<p>{{scenario.description|safe|macro:character}}</p>
{% endblock %}
{% block content %}
{% if scenario %}
	{% for choice in choices %}
<h2>{{choice.title|macro:character}}</h2>
<p>{{choice.description|macro:character}}</p>
		{% if choice.required_stats %}
<p>This choice requires the following stats: </p>
			{% for stat in choice.required_stats %}
				{% if stat.minimum > 0 %}
<p>{{stat.stat.name}} at least level {{stat.minimum}}.</p>
				{% endif %}
			{% endfor %}
		{% endif %}
		{% if choice.required_items %}
			{% for item in choice.required_items %}
<p>Need at least {{item.minimum}} {{item.item.name}}.</p>
			{% endfor %}
		{% endif %}
		{% if choice.required_money %}
<p>Need at least {{choice.required_money}} royals.</p>
		{% endif %}
		{% if not choice.invalid %}
<form method="post" action="/lok/choice/{{choice.id}}/">
{% csrf_token %}
	<input class="button" type="submit" value="Do this!"/> 
</form>
		{% else %}
<p>You cannot attempt this choice at this time.</p>
		{% endif %}
	{% endfor %}
{% else %}
<p>Yikes, how did you get here? You aren't supposed to be able to get here. There must be some mistake. I'm sorry. Please visit us again later.</p>
{% endif %}
{% endblock content %}
{% endautoescape %}
