<html>
<body>
<p>Greetings, <a href="/lok/character/">{{character.name}}</a>. You are in {{character.location.name}}.</p>
<p>You have {{actions}} blank pages available to write your story.</p>
{% if routes %}
<p>You can <a href="/lok/travel/">travel</a> from this place.</p>
{% endif %}
{% if scenarios %}
	{% for scenario in scenarios %}
	<h1><a href="/lok/scenario/{{scenario.id}}">{{scenario.title }}</a></h1>
	<p>{{scenario.description }}</p>
	{% endfor %}
{% else %}
	<p>Whoops! There should be some stories here for you. Sorry about that, please check back soon!</p>
{% endif %}
</body>
</html>
