{% extends "lok/base.html" %}

{% load lok_extras %}
{% block title%}Skal{% endblock %}
{% block heading%}Story{% endblock %}
{% block menu_story%}#404040;{% endblock %}

{% autoescape off %}
{% block intro %}
<p>Greetings, {{character.name}}. You are in {{character.location.name}}.</p>
<p>You have {{actions}} blank page{{actions|pluralize}} available to write your story.</p>
{% endblock intro %}

{% comment %}
{% if routes %}
<p>You can <a href="/lok/travel/">travel</a> from this place.</p>
{% endif %}
<p>You can visit the <a href="/lok/market/">market</a> here.</p>
{% endcomment %}

{% block content%}
{% if scenarios %}
	{% for scenario in scenarios %}
	<h2><a href="/lok/scenario/{{scenario.id}}">{{scenario.title|macro:character}}</a></h2>
	<p>{{scenario.description|macro:character}}</p>
	{% endfor %}
<blockquote>If you don't see anything here that interests you, you can <a href="/lok/rest/">rest</a> for the day and see if anything changes.</blockquote>
{% else %}
	<p>Whoops! There should be some stories here for you. Sorry about that, please check back soon!</p>
{% endif %}
{% endblock content %}
{% endautoescape %}
