{% extends "lok/base.html" %}

{% load lok_extras %}
{% block title%}Skal{% endblock %}
{% block heading%}Story{% endblock %}
{% block menu_story%}#404040;{% endblock %}
{% block party_notification%}{% if party_notification%} *{%endif%}{%endblock%}

{% autoescape off %}
{% block intro %}
<p>Greetings, {{character.name}}. You are in {{character.location.name}}.</p>
<p>You have {{actions}} blank page{{actions|pluralize}} available to write your story.</p>
{% if next_page_time %}
<p>You will receive a new blank page in {{next_page_time}}.</p>
{% endif %}
{% endblock intro %}

{% comment %}
{% if routes %}
<p>You can <a href="/lok/travel/">travel</a> from this place.</p>
{% endif %}
<p>You can visit the <a href="/lok/market/">market</a> here.</p>
{% endcomment %}

{% block content%}
{% if scenarios %}
	{% for scenario in scenarios %}
	<h2>{{scenario.title|capfirst|macro:character|safe}}</h2>
	<p>{{scenario.description|safe|macro:character|linebreaksbr}}</p>
	<div><a href="/lok/scenario/{{scenario.id}}"><input type="submit" class="button" value="Proceed"/></a> </div>
	{% endfor %}
{% if character.location.type != 4 %} {#Location.TYPE_NONE #}
<blockquote>If you don't see anything here that interests you, you can <a href="/lok/rest/">rest</a> for the day and see if anything changes.</blockquote>
{% endif %}
{% else %}
<p>No scenarios are currently available in this location. You can try traveling somewhere else.</p>
{% endif %}
{% endblock content %}
{% endautoescape %}
