{% extends "lok/base.html" %}
{% autoescape off %}
{% load lok_extras %}
{% block title%}Skal{% endblock %}
{% block heading%}Travel from {{character.location.name}}{%endblock %}
{% block menu_travel%}#404040;{% endblock %}
{% block intro %}
{% endblock %}

{% block content %}
{% if not routes %}
<blockquote>No exit from this location is available at this time. Don't worry, though! Continue with your story, and a solution will present itself.</blockquote>
{% else %}
<p>Please choose one of the following travel options.</p>
<ul>
	{% for route in routes %}
<li>Travel to <a href="/lok/travel/{{route.id}}/">{{route.route.destination.name}}</a>: {{route.summary}}</li>
	{% endfor %}
</ul>
{% endif %}
{% endblock content %}
{% endautoescape %}
